* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 1rem;
}
ul {
  list-style: none;
}
:root {
  --VeryDarkBlue: #070439;
  --DesaturatedBlue: #585989;
  --BrightBlue: #3065f8;
  --ModerateCyan: #3c9f8f;
  --LightGrayishBlue: #f6f6fe;
  --LightGray: #bfbfbf;
  --font-OpenSans: "Open Sans", sans-serif;
  --font-Raleway: "Raleway", sans-serif;
}

.container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}
.w-585 {
  max-width: 585px;
}
.w-530 {
  max-width: 530px;
}

.pb-main {
  padding-bottom: 160px;
}

.mb-15 {
  margin-bottom: 15px;
}
.mb-16 {
  margin-bottom: 16px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-38 {
  margin-bottom: 38px;
}

.nav-header {
  margin-top: 65px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}
.mb-menu {
  margin-bottom: 80px;
}

.menu {
  display: flex;
  gap: 50px;
  align-items: center;
}

.menu li a {
  color: var(--VeryDarkBlue);
  font-family: var(--font-Raleway);
  padding: 10px 0;
}
.gap-main {
  gap: 1rem;
}
.gap-40 {
  gap: 40px;
}

.flex-cont {
  display: flex;
}
.align-items-center {
  align-items: center;
}

.title {
  font-size: 2.5rem;
  font-family: var(--font-Raleway);
  font-weight: 700;
  line-height: 1.5;
}
.p-main {
  color: var(--VeryDarkBlue);
  font-family: var(--font-OpenSans);
  line-height: 1.5;
}
.input-area {
  display: flex;
  align-items: center;
  gap: 16px;
}

.input-area input {
  border: 1px solid var(--VeryDarkBlue);
  font-size: 0.875rem;
  font-family: var(--font-OpenSans);
  border-radius: 6px;
  padding: 12px 6px;
  outline: none;
  width: 320px;
}
.input-area input::placeholder,
.input-access input::placeholder {
  color: #c2c2c2;
}
.btn {
  background: var(--BrightBlue);
  filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, 0.16));
  color: white;
  outline: none;
  padding: 14px 60px;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  font-family: var(--font-Raleway);
  font-weight: 700;
  border-radius: 6px;
  transition: 0.3s;
}
.btn:hover {
  background: #6c9bff;
}

.main-info {
  max-width: 625px;
}

.text-green {
  color: var(--ModerateCyan);
  font-size: 1rem;
  font-family: var(--font-OpenSans);
  display: flex;
  align-items: center;
  gap: 4px;
  width: max-content;
  position: relative;
  margin-bottom: 45px;
  transition: .3s;
  cursor: pointer;
}
.text-green:hover{
    color: #71DFCC;
}
.text-green:hover::after{
    background: #71DFCC;
}
.text-green i {
    font-size: 12px;
    cursor: pointer;
}
.text-green::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background: var(--ModerateCyan);
}
.wave-section {
  background: url("../images/bg-curve-desktop.svg");
  height: 114px;
  background-size: cover;
}
.bg-color-section {
  background: #f8f8fe;
  padding-bottom: 100px;
}

.coment-post {
  background: white;
  padding: 20px 32px;
  max-width: 355px;
  box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.05);
  border-radius: 5px;
}
.profile {
  display: flex;
  gap: 8px;
  font-family: var(--font-OpenSans);
  align-items: center;
}

.text-post {
  font-size: 0.8125rem;
  font-family: var(--font-OpenSans);
  color: var(--VeryDarkBlue);
  line-height: 1.5;
  margin: 14px 0;
}

.profile-img img {
  border-radius: 50%;
}

.name {
  font-size: 11px;
  color: var(--VeryDarkBlue);
  font-weight: 700;
  letter-spacing: 0.55px;
}

.job {
  font-size: 8px;
}
.info-start {
  max-width: 650px;
}

.bg-access {
  background: var(--DesaturatedBlue);
  color: white;
  padding: 100px 0;
}

.cont-access {
  max-width: 530px;
}

.flex-access {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.title-access {
  font-family: var(--font-Raleway);
  font-size: 2rem;
  margin-bottom: 16px;
  line-height: 1.5;
}

.text-access {
  font-family: var(--font-OpenSans);
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.input-access input {
  padding: 15px 10px;
  display: block;
  outline: none;
  border: 1px solid transparent;
  font-family: var(--font-Raleway);
  font-size: 12px;
  width: 480px;
  margin-bottom: 1rem;
  border-radius: 6px;
}

.bg-footer {
  background: var(--VeryDarkBlue);
  color: white;
}
.bg-footer li a {
  color: white;
  font-family: var(--font-OpenSans);
  font-size: 1rem;
  transition: 0.3s;
}
.bg-footer li a:hover {
  color: #6c9bff;
}

.flex-footer {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
}
.pd-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact-flex {
  display: flex;
  gap: 1rem;
}

.contact-flex:first-of-type {
  margin-bottom: 1rem;
}
.contact-flex p {
  font-family: var(--font-OpenSans);
  font-size: 1rem;
}

.ul-footer ul li {
  margin-bottom: 1rem;
}

.icones-footer {
  display: flex;
  gap: 12px;
}

.icones-footer a {
  display: flex;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.icones-footer a:hover {
  border-color: #6c9bff;
  color: #6c9bff;
}

@media (max-width: 1023px) {
  .input-area {
    flex-direction: column;
    align-items: stretch;
  }
  .gap-main {
    gap: 2rem;
  }
  .input-area input {
    width: inherit;
  }
  .flex-cont > div {
    flex: 1;
  }
  .pb-main {
    padding-bottom: 90px;
  }
}

@media (max-width: 900px) {
  .logo {
    max-width: 100px;
  }
  .menu {
    gap: 20px;
  }
  .menu li a {
    font-size: 0.875rem;
  }
  .flex-cont {
    flex-direction: column-reverse;
    text-align: center;
  }
  .title,
  .title-access {
    font-size: 1.5rem;
  }
  .p-main,
  .text-access {
    font-size: 0.875rem;
  }
  .text-green {
    margin-inline: auto;
  }
  .bg-color-section {
    padding-bottom: 80px;
  }
  .wave-section {
    background: url("../images/bg-curve-mobile.svg");
    height: 53px;
  }
  .flex-access {
    flex-direction: column;
    text-align: center;
  }
  .input-access input,
  .input-access .btn,
  .input-access {
    width: 100%;
  }
  .bg-access {
    padding: 80px 0;
  }

  .flex-footer {
    flex-direction: column;
  }
  .cont-contact, .ul-footer ul{
    margin-bottom: 2rem;
  }
 .icones-footer{
    justify-content: center;
 }
}
